{% extends "base.html" %}

{% block title %}
Book Taxi Page
{% endblock %}

{% block content %}

<html lang="en">
<body class>
<div class="container">
    <div class="content">
        <h1 class="p-3 mb-2 bg-info text-white" >Book Taxi</h1>
    </div>
    <!--<p>Driver Name: {{ dname }}</p>-->
    <div class="d">
    <form class="d-block p-2 bg-secondary text-white">
     Taxi ID : {{ taxi_id }}<br>
    Vehicle No: {{ registration_no }}<br>
    Taxi Type: {{ taxi_type }}<br>
    From: {{ From }}<br>
    To: {{ To }}<br>
    Customer Id: {{ customer_id }}<br>
    </form>
    </div>
    <form action="" method="POST" >
        {{ form.hidden_tag() }}
        <br>

        {{ form.yname(class="form-control", placeholder="Customer Name") }}


        {{ form.Bdate(class="form-control", placeholder="Booking Date") }}


        {{ form.Btime(class="form-control", placeholder="Booking Time") }}

        <br>

        {{ form.submit(class="btn btn-primary btn-lg active") }}
    </form>
</div>

</body>
</html>

{% endblock %}
