{% extends "base.html" %}

{% block title %}
Book Taxi Page
{% endblock %}

{% block content %}

<html lang="en">
<body class>
<h1 class="r" style="color:black">Book Taxi </h1>
<div class="container">
    <!--<p>Driver Name: {{ dname }}</p>-->
    <p> Taxi ID : {{ taxi_id }}</p>
    <p>Vehicle No: {{ registration_no }}</p>
    <p>Taxi Type: {{ taxi_type }}</p>
    <p>From: {{ From }}</p>
    <p>To: {{ To }}</p>
    <p>Customer Id: {{ customer_id }}</p>

    <form action="" method="POST" >
        {{ form.hidden_tag() }}
        <br>

        {{ form.yname(class="form-control", placeholder="Customer Name") }}


        {{ form.Bdate(class="form-control", placeholder="Booking Date") }}


        {{ form.Btime(class="form-control", placeholder="Booking Time") }}

        <br>

        {{ form.submit(class="btn btn-primary btn-lg active") }}
    </form>
</div>

</body>
</html>

{% endblock %}
