{% extends 'base.html' %}

{% block title %}
    customer login
{% endblock %}

{% block content %}
<html lang="en">
    <body class>
        <div class="container">
            <form action="" method="POST" style="color:black">
                {{ form.hidden_tag() }}
            <h1 class="h3 mb-2 font-weight-normal">
                Please Enter your Details
            </h1>
            <br>

            {{ form.customer_id(class="form-control", placeholder="customer id") }}


            {{ form.f_name(class="form-control", placeholder="First Name") }}


            {{ form.l_name(class="form-control", placeholder="Last Name") }}


            {{ form.contact_no(class="form-control", placeholder="Contact No") }}


            {{ form.gender(class="form-control", placeholder="Gender") }}


            {{ form.address(class="form-control", placeholder="Address") }}


            <br>


            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

<!--            <div class="submit">-->
<!--                 <a class="btn btn-sm btn-secondary" href="{{ url_for('taxi_page') }}">Login</a>-->
<!--            </div>-->

        </form>
    </div>

    </body>
    </html>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>