{% extends 'customer_base.html' %}

{% block title %}
    customer login
{% endblock %}

{% block content %}

<body class>
    <div class="container">
<form method="POST" class="form-signin" style="color:black">
            {{ form.hidden_tag() }}
            <h1 class="p-3 mb-2 bg-info text-white">
                Please Login
            </h1>
            <br>
             {{ form.customer_name(class="form-control", placeholder="customer Name") }}

             {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('customer_register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>



{% endblock %}

