{% extends 'base.html' %}
{% block title %}
  drivers Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-info">
  <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Driver Id</th>
                <th scope="col">Driver Name</th>
                <th scope="col">Contact No</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>

            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.driver_id }}</td>
                    <td>{{ item.driver_name }}</td>
                    <td>{{ item.contact_no }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.address }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}