{% extends 'base.html' %}
{% block title %}
  Taxi Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-info">
  <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Taxi Id</th>
                <th scope="col">Taxi type</th>
                <th scope="col">Condition</th>
                <th scope="col">Registration No</th>
                <th scope="col">Price per km</th>

            </tr>
        </thead>
        <tbody>

            {% for item in items %}
                <tr>
                    <td>{{ item.taxi_id }}</td>
                    <td>{{ item.taxi_type }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.registration_no }}</td>
                    <td>₹ {{ item.price_per_km }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}