{% extends 'base.html' %}
{% block title %}
  Taxi Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-info">
  <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Taxi Id</th>
                <th scope="col">Taxi type</th>
                <th scope="col">Registration No</th>
                <th scope="col">Owner Id</th>
                <th scope="col">Driver Name</th>
<!--            <th scope="col">Price per km</th>-->
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">status</th>

            </tr>
        </thead>
        <tbody>

            {% for item in items %}
                <tr>
                    <td>{{ item.taxi_id }}</td>
                    <td>{{ item.taxi_type }}</td>
                    <td>{{ item.registration_no }}</td>
                    <td>{{ item.owner_owner_id }}
                    <td>{{ item.driver_driver_name }}</td>
<!--                <td>₹ {{ item.price_per_km }}</td>-->
                    <td>{{ item.From }}</td>
                    <td>{{ item.To }}</td>
                    <td>{{ item.flag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}