{% extends 'base.html' %}
{% block title %}
  Taxi Page
{% endblock %}

{% block content %}
 <div class="content">
        <h1 class="p-3 mb-2 bg-info text-white" >Customer Records</h1>
    </div>
      <table class="table table-hover table-info">
  <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Customer Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact No</th>
                <th scope="col">Gender</th>
                <th scope="col">address</th>

            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.customer_id }}</td>
                    <td>{{ item.customer_name }}</td>
                    <td>{{ item.contact_no }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<style>
    body {
        background: url(https://img.besthqwallpapers.com/Uploads/3-10-2019/107192/taxi-evening-taxi-cars-taxi-yellow-sign-taxi-concepts.jpg)no-repeat;
        background-size: 1600px 900px;
    }
</style>
{% endblock %}