{% extends 'base.html' %}

{% block title %}
    Owner page
{% endblock %}


{% block content %}

<body>

<div >
    <h2 class="p-3 mb-2 bg-info text-white">Select </h2>
    </div>
    <br>
    <div class="mx-sm-5 my-sm-5 btn-group-vertical">
        <a class="btn btn-info btn-lg" href="{{ url_for('list_customer_page') }}" role="button">Customers</a><br>
        <a class="btn btn-info btn-lg" href="{{ url_for('list_drivers_page') }}" role="button">Drivers</a><br>
        <a class="btn btn-info btn-lg" href="{{ url_for('list_taxi_page') }}" role="button">Taxi</a><br>
        <a class="btn btn-info btn-lg" href="{{ url_for('list_taxi_log_page') }}" role="button">Taxi Log</a><br>
        <a class="btn btn-info btn-lg" href="{{ url_for('list_booked_taxi_page') }}" role="button">Booked taxi details</a><br>
        <a class="btn btn-info btn-lg" href="{{ url_for('add_drivers_page',owner_id=owner_id) }}" role="button">Add Driver And his Taxi</a><br>
    </div>


</body>
</html>
<style>
    body {
        background: url(https://img.besthqwallpapers.com/Uploads/3-10-2019/107192/taxi-evening-taxi-cars-taxi-yellow-sign-taxi-concepts.jpg)no-repeat;
        background-size: 1600px 900px;
    }
</style>

{% endblock %}
