{% extends 'base.html' %}
{% block title %}
  Taxi Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">taxi_id</th>
                <th scope="col">taxi_type</th>
                <th scope="col">driver_id</th>
                <th scope="col">registration_no</th>
                <th scope="col">price_per_km</th>
                <th scope="col">book</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.taxi_id }}</td>
                    <td>{{ item.taxi_type }}</td>
                    <td>{{ item.driver_id }}</td>
                    <td>{{ item.registration_no }}</td>
                    <td>{{ item.price_per_km }}$</td>
                    <td>
                        <button class="btn btn-outline btn-success">Book this taxi</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}